
.todo{
  background:url("img/fondo.png") no-repeat; 
  position: relative;
  background-size: cover;
  background-attachment: fixed;
}  
.todo:before{
  background-color: rgba(3,127,198,0.74);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.ventajas {
    background-color: white;
}

.pie{
	background-color: #333333;
	padding-bottom: 20px;
}
.ahorra{
    background-color: #eeeeee;
    
}
.izquierda{
    padding-top: 30px;
}
#titulo-dual{
    margin-top: 10px;
    color: white;
    font-size: 77px;
    font-family: 'MyriadProLight'
    
}
#texto-dual{
    margin-top: -10px;
    margin-bottom: 55px;
    font-size: 33px;
    color:white;
    font-family: "RalewayExtraBold";
    line-height: 1;
}

.check{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.video{
    
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.embed-responsive{
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.form-horizontal{
    position: relative;
	height: auto;
	padding-top: 30px;
	padding-right: 15px;
	padding-left: 15px;   
    margin-top: 28px;
	margin-bottom: 22px;
	background-color: white;
	box-shadow: 0px 5px 10px #B5C1C5,white inset;
	;
	
}
input[type='name']{
	height: 50px;
	box-shadow: none;
	font-family: 'RalewayRegular';
	
}
input[type='tel']{
	height: 50px;
	box-shadow: none;
    font-family: 'RalewayRegular';
}
input[type='email']{
	height: 50px;
	box-shadow: none;
    font-family: 'RalewayRegular';
}
input[type='text']{
	height: 50px;
	box-shadow: none;
    font-family: 'RalewayRegular';
}
.checkbox-inline{
	margin-left: auto;
	margin-right: auto;
	width: 50em;
	text-align: left;
	color: #999999;
	font-family: Raleway;
	font-size: 11px;
	font-family: 'RalewayRegular';
}

#accepto b{
    color: rgba(3,127,198,0.74);
}

#accepto{
        margin-top: 4px;
}

.form-errormsg, .cform-errormsg{
    color:red;
    display: none;
    line-height: 28px;
    font-size: 14px !important;
}

.cred{color:red; font-size: 18px;}
.cgreen{color:green; font-size: 18px;}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.tel{
        
	font-family: 'RalewaySemiBold';
	font-size: 18px;
}

.tel p{
    color: white;
}

.icono-footer{
    float: left;    
    margin-top: 20px;
    margin-right: 6px;
}

#oficina{
    font-family: 'RalewayBold';
    font-size: 14px;
    
}

#direccion{
    font-family: 'RalewayRegular';
    font-size: 12px;
    
}
#checkbox{
    margin-top: 0;
}

#presupuesto{
	font-family: 'RalewayExtraBold';
	font-size: 30px;
	color: #333333;
}

#contacto{
	font-family:'RalewayRegular';
	font-size: 16px;
	color: #939393;
	 line-height: 1.5;
}

#contacto span{
    font-family: 'RalewayBold';
}

#logo{
    float: left;
    padding-right: 220px;
   
}
img.displayed{
    display: block;
	margin-left: auto;
	margin-right: auto;
    width: 150px;
}
h1.blocktext{
	margin-left: auto;
	margin-right: auto;
	width: 13em;
	text-align: center;
	font-family: Raleway;
	font-size: 30px;
}


#titulo-dual span{
    font-family: 'MyriadProBold';
    
}

p.blocktext{
	text-align: center;
    color: #939393;
	padding: 30px 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'RalewayRegular';
}

p.blocktext span{
    font-family: 'RalewayBold';
}
p.blocktext1{
    margin-left: auto;
	margin-right: auto;
	width: 40em;
	text-align: left;
	color: #999999;
	font-family: Raleway;
	font-size: 16px;
}

h1.title{
   font-family: 'RalewayBold';
    color: #454545;
    font-size: 45px;
    line-height: 1;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
    display: block;
    margin: 0px;
    
}
img {
    max-width: 100%;
}    
.boton {
    
    display: inline-block;
    background: #037fc6;
    color: #fff;
    padding: 15px 17px;
    margin: 15px 35px !important;
    text-transform: uppercase;
    font-family: 'RalewayBold';
    font-size: 13px;
    width: auto;
}


.boton:hover{
    background:#666;
    
}
a:hover{
    text-decoration: none;
    color: white;
}

.boton a{
  outline: none;
    border: none;
    text-decoration: none;
}
.center{
    text-align: center;
}
a {
    color: #666;
    outline: none;
    border: none;
    text-decoration: none;
    padding-left: 200px;
}


button{
    color: #666;
    outline: none;
    border: none;
    text-decoration: none;
    background: transparent;
}

button.boton-simple {
   	display: inline-block;
    background: #037fc6;
    color: #fff;
    padding: 15px 17px;
    margin: 15px 0;
    text-transform: uppercase;
    font-family: 'RalewayBold';
    font-size: 13px;
}




#presupuesto span, .title span {
        color: #037fc6;
    }

.enlaces{
    line-height: 1.5;
    font-size: 12px;
    text-align: left;
	padding: 5px 0;
    color: white;
    text-decoration: underline;
    font-family: 'RalewayLight';
    margin-left: 5px;
    
}
.donde{
    float: left;
	padding: 0 0;
    line-height: 1.5;
    font-size: 14px;
    font-family: 'RalewaySemiBold';
    
    
}

#donde{
    float: left;
	padding: 3px 0;
    line-height: 1.5;
    font-size: 14px;
    font-family: 'RalewaySemiBold';
}
.especialista{
    clear: both;
    font-family: 'RalewayRegular';
    font-size: 13px;
    color: #C7C7C7;
    line-height: 1.5;
    font-size: 12px;
	padding: 5px 0;
}
.donde span{
    font-family: 'RalewayRegular';
    font-size: 12px;
    
}
#habla{
    margin-top: -40px;
    
}
#email{

}

#email-footer{
    line-height: normal;
}
#telefono-footer{
    height: 45px;
}

#logotipo{
    margin-top: 40px;
    height: 50px ;
    width: 170px;
    margin-left: 5px;
}
.caracteristicas{
    color: #939393;
    line-height: 1.5;
    font-size: 18px !important;
    font-family: 'RalewayMedium';
    line-height: 1.2;
    font-size: 1em;
    text-align: center;
    position: relative;
    opacity: 1;
    transform: translate(0);
    transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
    
}



.pie-texto{
	float: left;
	padding: 30px 0;
    line-height: 1.5;
    font-family: 'RalewayBold';
    font-size: 18px;
    color: #fff;
    padding-bottom: 0px;
    margin: 10px 0px;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
    display: block;
    line-height: 1.1;
    clear: both;
    min-height: 45px;
    
   
}
#youtube{
    margin-top: -100px;
}
#contacto{
    margin-left: -2px;
}

.container {
    height: auto;
}


@media  only screen and (max-width: 991px){
    #titulo-dual{
     font-size: 40px !important;
    
    }
    

}

@media  only screen and (max-width: 475px){
    #texto-dual{
     font-size: 23px !important;    
    }    
}


@media  only screen and (max-width: 991px){
    .pantalla-full{
        display:none;
    }
    .pantalla-responsive{
        display:block !important;
    }
}


.boton-full-width{
    margin: 15px 0px !important;
    width: 100% !important;
}

.imagen-caldera{
    width:100%;
}

.pantalla-responsive{
    display:none;
}
   
@font-face {
    font-family: "RalewayMedium";
    src: url("fuentes/Raleway-Medium.ttf") format('truetype');
}
@font-face {
    font-family: 'RalewayBold';
    src: url('fuentes/Raleway-Bold.ttf');
}
@font-face {
    font-family: 'RalewayRegular';
    src: url('fuentes/Raleway-Regular.ttf');
}
@font-face {
    font-family: "RalewayExtraBold";
    src: url("fuentes/Raleway-ExtraBold.ttf");
}
@font-face {
    font-family: 'RalewayLight';
    src: url('fuentes/Raleway-Light.ttf');
}
@font-face {
    font-family: 'RalewaySemiBold';
    src: url('fuentes/Raleway-SemiBold.ttf');
}
@font-face {
    font-family: 'MyriadProLight';
    src: url('fuentes/MyriadPro-Light.ttf');
}
@font-face {
    font-family: 'MyriadProBold';
    src: url('fuentes/MyriadPro-Bold.ttf');
}

